apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    version: 1

  # Tempo datasource for traces
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: 'loki'
        tags: ['job', 'instance', 'pod', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: false
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
        filterByTraceID: false
        filterBySpanID: false
      tracesToMetrics:
        datasourceUid: 'prometheus'
        tags: [{ key: 'service.name', value: 'service' }]
        queries:
          - name: 'Sample query'
            query: 'sum(rate(traces_spanmetrics_latency_bucket{$__tags}[5m]))'
      serviceMap:
        datasourceUid: 'prometheus'
      search:
        hide: false
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: 'loki'
    version: 1

  # PostgreSQL datasource for database metrics
  - name: PostgreSQL-UNS
    type: postgres
    access: proxy
    url: db:5432
    database: ${POSTGRES_DB}
    user: ${POSTGRES_USER}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    editable: true
    jsonData:
      sslmode: 'disable'
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    version: 1

  # Optional: Redis datasource (requires redis-datasource plugin)
  # To enable: docker exec -it uns-claudejp-600-grafana grafana-cli plugins install redis-datasource
  # Then restart: docker restart uns-claudejp-600-grafana
  # - name: Redis-UNS
  #   type: redis-datasource
  #   access: proxy
  #   url: redis://redis:6379
  #   editable: true
  #   jsonData:
  #     client: standalone
  #     poolSize: 5
  #     timeout: 10
  #     pingInterval: 0
  #     pipelineWindow: 0
  #   version: 1

  # Optional: Loki datasource for logs (if you add Loki later)
  # - name: Loki
  #   type: loki
  #   access: proxy
  #   url: http://loki:3100
  #   editable: true
  #   jsonData:
  #     maxLines: 1000
  #   version: 1
