server:
  http_listen_port: 3200

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  trace_idle_period: 10s
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal

compactor:
  compaction:
    compaction_window: 1h
    max_block_bytes: 107374182400
    block_retention: 1h
    compacted_block_retention: 10m

querier:
  frontend_worker:
    frontend_address: localhost:3200

query_frontend:
  max_batch_size: 100
